<!-- maze.component.html -->

<div class="maze-container">
    <h2 class="maze__h2">Hunt The Wumpus</h2>

    <!-- Recorre cada fila del laberinto -->
    <div *ngFor="let row of gameService.rooms; let y = index" class="maze__row">

        <!-- Recorre cada habitación en la fila -->
        <div *ngFor="let room of row; let x = index" class="maze__cell">
            <!-- Muestra la habitación -->
            <app-room [room]="room"></app-room>

            <!-- Aquí añadimos el jugador si su posición coincide con la celda actual -->
            <app-player *ngIf="gameService.player.rowPosition === y && gameService.player.colPosition === x" [player]="gameService.player"></app-player>
        </div>
    </div>
    <app-controls></app-controls>
</div>

<!-- maze.component.html -->